name: Publish Docker image
on:
  push:
    branches:
      - master
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
jobs:
  push_to_registry:
    name: Push Docker image to GitHub Container Registry
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Setup custom version
        run: echo "DOCKER_IMAGE_VERSION=2.0.17.2" >> $GITHUB_ENV
      - name: Push to GitHub Container Registry
        uses: docker/build-push-action@v5
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}
          push: true
          tags: ${{ env.DOCKER_IMAGE_VERSION }}
